.myCard {
  word-break: break-word !important;
  transform: scale(1);
  box-shadow: 0px 0px 0px rgb(255, 255, 255) !important;
  transition: transform 0.05s, box-shadow 0.3s !important;
}
.myCard:hover {
  transform: scale(1.01);
  z-index: 1;
  box-shadow: 0px 0px 20px rgb(119, 119, 119) !important;
}

.rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightside .attachmentDiv {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  /* margin-left: 30%; */
}

.rightside .dateDiv {
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  /* margin-left: 30%; */
}

.myIcon {
  font-size: 20px !important;
  cursor: pointer !important;
  font-weight: bold !important;
  float: right !important;
}

.collapseIcon {
  float: left !important;
}

.delIcon {
  font-size: 22px !important;
}
